@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --Navy: #002147;
  --Imperial-Blue: #003E74;
  --Light-Grey: #EBEEEE;
  --Cool-Grey: #9D9D9D;
  --Light-Blue: #D4EFFC;
  --Dark-Grey: #373A36;
  --Blue: #006EAF;
  --Process-Blue: #0091D4;
  --Pool-Blue: #00ACD7;
  --Dark-Teal: #0F8291;
  --Teal: #009CBC;
  --Seaglass: #379f9f;
  --Dark-Green: #02893B;
  --Kermit-Green: #66A40A;
  --Lime: #BBCE00;
  --Orange: #D24000;
  --Tangerine: #EC7300;
  --Lemon-Yellow: #FFDD00;
  --Brick: #A51900;
  --Red: #DD2501;
  --Cherry: #E40043;
  --Raspberry: #9F004E;
  --Magenta-Pink: #C81E78;
  --Iris: #751E66;
  --Violet: #960078;
  --Plum: #321E6D;
  --Purple: #653098;
  --brand-primary: var(--Imperial-Blue);
  --brand-secondary: var(--Cherry);
  --background-color: #ffffff;
  --light-gray: var(--Cool-Grey);
  --main-font: Meta, Helvetica, sans-serif;
  --main-font-size: 26px;
  --main-color: var(--Navy);
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: Meta-Medium, Helvetica, sans-serif;
  --heading-color: var(--brand-primary);
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: uppercase;
  --heading-text-shadow: none;
  --heading-font-weight: 600;
  --heading1-text-shadow: none;
  --heading1-size: 2.5em;
  --heading2-size: 1.6em;
  --heading3-size: 1.3em;
  --heading4-size: 1em;
  --code-font: monospace;
  --link-color: var(--brand-secondary);
  --link-color-hover: rgba(var(--link-color), 0.6);
  --selection-background-color: #a7a7a7;
  --selection-color: #fff;
}

.reveal-viewport {
  background: #fff;
  background-color: #fff;
}

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: var(--main-font-size);
  font-weight: normal;
  color: black;
}

.reveal ::selection {
  color: #fff;
  background: var(--selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: #fff;
  background: var(--selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 2em 0;
  color: var(--heading-color);
  font-family: var(--heading-font), Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: var(--heading-text-transform);
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.3em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); */
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  /* width: 90%; */
  /* margin: 20px auto; */
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: monospace;
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: 20px 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--link-color);
  text-decoration: none;
  transition: color .15s ease;
}

.reveal a:hover {
  color: var(--link-color-hover);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--brand-secondary);
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all .15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--brand-secondary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--brand-secondary);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--brand-secondary);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff;
  }
}

/*********************************************
 * CUSTOM STYLES
 *********************************************/
h1.title {
  color: var(--Navy);
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 220%;
}

.csl-right-inline {
  font-size: 50%;
  text-align: justify;
}

.csl-right-inline>a:nth-child(4) {
  color: var(--link-color);
  visibility: hidden;
}

.csl-right-inline>a:nth-child(4)::before {
  color: var(--link-color);
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  visibility: visible;
  font-weight: 900;
  padding-left: 6px;
}

.csl-left-margin {
  visibility: hidden;
}

span.authorname {
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin-bottom: 0.8em;
}

span.affiliation,
span.location {
  /* color: #676767; */
  font-style: italic;
  font-size: 0.7em;
  display: block;
}

/* , span.location, */
span.email {
  font-style: italic;
  font-size: 0.7em;
  display: block;
}

.email {
  font-size: 0.7em;
  display: block;
  margin-top: 1em;
  color: unset;
}

a.email {
  color: unset;
  opacity: 33%;
}

figcaption {
  color: var(--brand-secondary);
  font-size: 70%;
  font-style: italic;
  padding-top: 4px;
}

/* .column {
  padding: 4px;
} */
.part .slide-background-content {
  background: var(--brand-primary);
  !important;
}

.part {
  color: white !important;
}

.sec .slide-background-content {
  background: var(--brand-secondary);
  !important;
}

.sec {
  color: white !important;
}

#refs {
  display: none;
  height: 0px;
}

.footnotes {
  font-size: 55% !important;
  padding-top: 10px;
  opacity: 0.5;
}

.footnote-back {
  display: none;
}

.reveal sup {
  vertical-align: super;
  padding-left: 0.2em;
  font-size: 50%;
}

.footnote-ref {
  color: inherit;
}

.citation a {
  color: inherit;
}

.footnotes a {
  color: inherit;
}





.logoanim {}

.animlogo {
  width: 40%;
}

.arrow {
  animation: arrow 1.8s ease;
  display: block;
}


.logo-text {
  animation: logo-text 2s ease 0s;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 400%;
  color: #3a3a3a;
  display: block;
}

.rad1 {
  animation: radin1 2.8s cubic-bezier(.95, .05, .8, .04) 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.rad2 {
  animation: radin2 3.1s cubic-bezier(.95, .05, .8, .04) 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.rad3 {
  animation: radin3 3.2s cubic-bezier(.95, .05, .8, .04) 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes arrow {
  from {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

@keyframes radin1 {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 1.0;
  }
}


@keyframes radin2 {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 1.0;
  }

}



@keyframes radin3 {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 1.0;
  }
}


@keyframes logo-text {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}



/* hide numbering for citation */

.footnotes ol {
  list-style: none;
}

.footnote-ref {
  visibility: hidden;
}

div.sourceCode {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

blockquote {
  border-left: solid 10px var(--brand-secondary);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal pre code {
  padding: 1.5em;
}



.bg-light-blue {
  background-color: var(--Light-Blue);
  width: 6cm;
  margin: auto;
  padding: 0.2em;
  text-align: center;
}